@model Fixture02.Models.Employee

@{
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <ul class="breadcrumb">
        <li>您好，欢迎来到工夹具智能管理系统----系统管理>>@Html.ActionLink("用户管理", "EmployeeIndex")>>用户创建</li>
    </ul>
    @*<div class="page-header" style="text-align:center">
            <h3>
                工夹具智能管理系统
                <small>用户创建</small>
            </h3>
        </div>*@

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">创建新用户</h3>
            </div>
            <div class="panel-body" style="text-align:center;">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.EmployeeID, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label class="col-md-2 col-md-offset-3" style="text-align:right; font-size:18px;">用户编号</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.EmployeeID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label class="col-md-2 col-md-offset-3" style="text-align:right; font-size:18px;">用户名</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label class="col-md-2 col-md-offset-3" style="text-align:right; font-size:18px;">设置密码</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label class="col-md-2 col-md-offset-3" style="text-align:right; font-size:18px;">绑定邮箱</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.UserLevel, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label class="col-md-2 col-md-offset-3" style="text-align:right; font-size:18px;">用户权限</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.UserLevel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserLevel, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.WorkcellID, "WorkcellID", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label class="col-md-2 col-md-offset-3" style="text-align:right; font-size:18px;">工作部门</label>
                        <div class="col-md-2">
                            @Html.DropDownList("WorkcellID", null, htmlAttributes: new { @class = "form-control" })
                            @*@Html.EditorFor(model => model.WorkcellID, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.WorkcellID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Job, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label class="col-md-2 col-md-offset-3" style="text-align:right; font-size:18px;">职务</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Job, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Job, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <input type="submit" value="保存" class="btn btn-default" />
                        <button class="btn btn-default">@Html.ActionLink("返回", "EmployeeIndex")</button>
                    </div>
                </div>
            </div>
        </div>
    }

</body>
</html>
