@model Fixture02.Models.Employee

@{
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>Details</title>
</head>
<body>

   
    <h4><span class="glyphicon  glyphicon-record " style=" position:relative ;height  :20px;top :3px;" />
        当前位置: @Html.ActionLink("首页", "Index", "Home", new { }, new { style = "color:blue;" })>>
        <a class="panel-title collapsed" style=" color :blue ;font-size :18px;" data-toggle="collapse"
           data-parent="#panel-756431" href="#panel-element-21445" id="cgrk">系统管理</a>>>
        @Html.ActionLink("用户管理", "EmployeeIndex", new { }, new { style = "color:blue;" })>>用户资料详情</h4>

    

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">用户详细信息</h3>
        </div>
        <div class="panel-body" style="text-align:center;">
            <table class="table table-bordered table-striped">
                <tr>
                    @*<td>@Html.DisplayNameFor(model => model.EmployeeName)</td>*@
                    <td>用户名</td>
                    <td>@Html.DisplayFor(model => model.EmployeeName)</td>
                </tr>
                <tr>
                    @*<td>@Html.DisplayNameFor(model => model.Email)</td>*@
                    <td>用户邮箱</td>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    @*<td>@Html.DisplayNameFor(model => model.UserLevel)</td>*@
                    <td>用户权限</td>
                    <td>@Html.DisplayFor(model => model.UserLevel)</td>
                </tr>
                <tr>
                    @*<td>@Html.DisplayNameFor(model => model.WorkcellID)</td>*@
                    <td>工作部门编码</td>
                    <td>@Html.DisplayFor(model => model.Workcell.WorkcellName)</td>
                </tr>
                <tr>
                    @*<td>@Html.DisplayNameFor(model => model.Job)</td>*@
                    <td>用户职务</td>
                    <td>@Html.DisplayFor(model => model.Job)</td>
                </tr>
            </table>
            <ul class="pager">
                <li class="edit">@Html.ActionLink("修改", "Edit", new { id = Model.EmployeeID })</li>
                <li class="index">@Html.ActionLink("返回", "EmployeeIndex")</li>
            </ul>
        </div>
@*>>>>>>> gy*@
    </div>
</body>
</html>
