@model Fixture02.Models.Employee

@{
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Edit</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @*<ul class="breadcrumb">
            <li>您好，欢迎来到工夹具智能管理系统----系统管理>>@Html.ActionLink("用户管理", "EmployeeIndex")>>用户资料修改</li>
        </ul>*@
    <h4><span class="glyphicon  glyphicon-record " style=" position:relative ;height  :20px;top :3px;" /> 当前位置: @Html.ActionLink("首页", "Index", "Home", new { }, new { style = "color:blue;" })>><a class="panel-title collapsed" style=" color :blue ;font-size :18px;" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21445" id="cgrk">系统管理</a>>>@Html.ActionLink("用户管理", "EmployeeIndex", new { }, new { style = "color:blue;" })>>用户资料修改</h4>

    @*<div class="page-header" style="text-align:center">
            <h1>
                工夹具智能管理系统
                <small>用户资料修改</small>
            </h1>
        </div>*@

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">用户资料修改</h3>
            </div>
            <div class="panel-body" style="text-align:center;">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.EmployeeID)

                    <div class="form-group col-md-offset-4">
                        @*@Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label class="col-md-2 col-md-offset-3" style="text-align:right; font-size:18px;">用户名</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                            @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger col-md-2" })
                        </div>
                    </div>

                    <div class="form-group col-md-offset-4">
                        @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label class="col-md-2 col-md-offset-3" style="text-align:right; font-size:18px;">修改密码</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger col-md-2" })
                        </div>
                    </div>

                    <div class="form-group col-md-offset-4">
                        @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label class="col-md-2 col-md-offset-3" style="text-align:right; font-size:18px;">绑定邮箱</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger col-md-2" })
                        </div>
                    </div>

                    <div class="form-group col-md-offset-4">
                        @*@Html.LabelFor(model => model.UserLevel, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label class="col-md-2 col-md-offset-3" style="text-align:right; font-size:18px;">用户权限</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.UserLevel, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                            @Html.ValidationMessageFor(model => model.UserLevel, "", new { @class = "text-danger col-md-2" })
                        </div>
                    </div>

                    <div class="form-group col-md-offset-4">
                        @*@Html.LabelFor(model => model.WorkcellID, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label class="col-md-2 col-md-offset-3" style="text-align:right; font-size:18px;">工作部门</label>
                        <div class="col-md-2">
                            @Html.DropDownList("WorkcellID", null, htmlAttributes: new { @class = "form-control col-md-2" })
                            @Html.ValidationMessageFor(model => model.WorkcellID, "", new { @class = "text-danger col-md-2" })
                        </div>
                    </div>

                    <div class="form-group col-md-offset-4">
                        @*@Html.LabelFor(model => model.Job, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label class="col-md-2 col-md-offset-3" style="text-align:right; font-size:18px;">职务</label>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Job, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                            @Html.ValidationMessageFor(model => model.Job, "", new { @class = "text-danger col-md-2" })
                        </div>
                    </div>

                    <div class="row">
                        <input type="submit" value="保存" class="btn btn-info" />
                        <button class="btn btn-default">@Html.ActionLink("返回", "EmployeeIndex", new { @class = "btn" }, new { style = "color:black;" })</button>
                    </div>
                </div>
            </div>
        </div>
    }


</body>
</html>
