@model IEnumerable<Fixture02.Models.Employee>

@using PagedList
@using PagedList.Mvc

@{
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Index</title>
</head>

<body>
    @*<div class="container-fluid">
            <div class="row-fluid">
                <!--导航栏-->
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">用户管理</a>
                            </div>
                            <div class="collapse navbar-collapse">
                                <form class="navbar-form navbar-right">
                                    <div class="btn-group">
                                        <button class="btn btn-default" type="button" role="button"> @Html.ActionLink("创建用户", "Create") </button>
                                        <button type="button" class="btn btn-default">刷新列表</button>
                                        <!--【问题】当页面缩到最窄时，两个button就没了-->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>*@
    <div class="btn-group" style="float:right">
        <button class="btn btn-default" type="button" role="button"> @Html.ActionLink("创建用户", "Create",new { @class="btn"},new { style = "color:black;" }) </button>
        <button type="button" class="btn btn-default">刷新列表</button>
    </div>
    <hr />
    <br />

    <!--查询块-->
    @using (Html.BeginForm("EmployeeIndex", "Employees", FormMethod.Get))
    {
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">查询条件</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form id="queryFrom" class="search-form form-horizontal">
                            <div class="form-body row">
                                <label class="col-md-2 control-label" style="text-align:right; font-size:large;">员工姓名</label>
                                <div class="clear">
                                    @Html.TextBox("searchString", "", new { @class = "input-sm col-md-1" })
                                    @*<input type="text" placeholder="请输入员工姓名" class="form-control form-filter clear" id="userNumber" name="userNumber" />*@
                                </div>
                                <label class="col-md-2 control-label" style="text-align:right; font-size:large;">员工权限</label>
                                <div class="clear">
                                    @*<select class="form-control form-filter clear" id="userLevel" name="userLevel">
                                            <option value="">请选择</option>
                                            <option value="01">初级用户</option>
                                            <option value="02">高级用户</option>
                                            <option value="03">监管员</option>
                                            <option value="04">Workcell经理</option>
                                            <option value="05">系统管理员</option>
                                        </select>*@
                                    @Html.TextBox("userLevel", "", new { @class = "input-sm col-md-1" })
                                </div>
                                <label class="col-md-2 control-label" style="text-align:right; font-size:large;">员工部门</label>
                                <div class="clear">
                                    @*<div class="input-group">
                                            <input class="form-control clear" id="workcellID" type="text" placeholder="请输入部门编码">
                                            <div class="input-group-addon">部门</div>
                                        </div>*@
                                    @Html.TextBox("workcellID", "", new { @class = "input-sm col-md-1" })
                                </div>
                                <div class="form-actions col-md-3" style="text-align:right;">
                                    <div class="btn-set">
                                        <button type="submit" class="btn search">查询</button>
                                        <!--【问题】当点击查询之后，无法重置-->
                                        <button type="reset" class="btn default reset">重置</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">用户列表</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>用户邮箱</th>
                            <th>用户权限</th>
                            <th>工作部门编码</th>
                            <th>用户职务</th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserLevel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WorkcellID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Job)
                            </td>
                            <td>
                                <button class="btn btn-default btn-sm">@Html.ActionLink("编辑", "Edit", new { id = item.EmployeeID }) </button> |
                                <button class="btn btn-default btn-sm">@Html.ActionLink("详情", "Details", new { id = item.EmployeeID })</button> |

                                <!-- 模态框（Modal） -->
                                <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">删除</button>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    您确定要删除该用户的信息吗？
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                此处为员工信息
                                               <!--【待补充】-->
                                            </div>
                                            <div class="modal-footer">
                                                @using (Html.BeginForm())
                                                {
                                                    @Html.AntiForgeryToken()

                                                    <div class="form-actions no-color">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                                            关闭
                                                        </button>
                                                        <button type="submit" class="btn btn-primary" data-dismiss="modal">提交更改</button>
                                                        @*<input type="submit" value="删除" class="btn btn-default" />*@
                                                    </div>
                                                }
                                                @*<button type="button" class="btn btn-default" data-dismiss="modal">
                                                        关闭
                                                    </button>
                                                    <button type="button" class="btn btn-primary"> @Html.ActionLink("提交更改", "Delete", new { id = item.EmployeeID })</button>*@
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    @Html.PagedListPager((IPagedList)Model, x => Url.Action("EmployeeIndex", new { page = x }))

    <!--实现清空键-->
    @*<script type="text/javascript">
            $(document).ready(function () {
                $(button.reset).click(function () {
                    $(div.clear).val("");
                });
            });
        </script>*@
</body>
</html>
