<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>智能工夹具管理系统</title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="~/Scripts/sweet-alert.min.js"></script>
    <link href="~/Scripts/sweet-alert.css" rel="stylesheet" />
    <style>
        h3 {
            height: auto;
            border-style: inset;
            border-radius: 10px;
            border-color: #508da3;
            color: white;
            background-color: #5b7fa7;
        }

        .panel {
            background-color: #a5def1;
            border: 1px solid transparent;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h3 class="text-center">
                    工夹具智能管理系统
                </h3>
            </div>
        </div>


        <div class="row clearfix">
            <div class="col-md-2 column">
                <div class="panel-group" id="panel-756431">
                    <div class="panel panel-default panel-primary">
                        <div class="panel-heading">

                            <span class="glyphicon glyphicon-home " /> @Html.ActionLink("首页", "Index", "Home", new { }, new { style = "color:#fff" })
                        </div>
                    </div>


                    <div class="panel panel-default panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-log-in  " />
                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-528672">采购入库</a>
                        </div>

                        <div id="panel-element-528672" class="panel-collapse collapse">

                            <div class="panel-body">
                                @Html.ActionLink("采购入库登记", "Index", "Jigitems")
                            </div>

                            <div class="panel-body">
                                @Html.ActionLink("采购入库初审", "FirstReview", "Jigitems")

                            </div>

                            <div class="panel-body">
                                @Html.ActionLink("采购入库终审", "SecondReview", "Jigitems")
                            </div>

                            <div class="panel-body">
                                @Html.ActionLink("采购入库查询", "FixtureItemFind", "Jigitems")
                            </div>

                        </div>
                    </div>


                    <div class="panel panel-default panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-resize-horizontal  " />
                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21442">进/出库</a>
                        </div>


                        <div id="panel-element-21442" class="panel-collapse collapse">
                            <div class="panel-body">
                                @Html.ActionLink("入库管理", "InIndex", "Inout")
                            </div>

                            <div class="panel-body">
                                @Html.ActionLink("出库管理", "Index", "Inout")
                            </div>

                            <div class="panel-body">
                                @Html.ActionLink("信息查询", "SearchInoutMessage", "Inout")
                            </div>

                        </div>
                    </div>




                    <div class="panel panel-default panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-trash  " />
                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21144">工夹具点检</a>
                        </div>


                        <div id="panel-element-21144" class="panel-collapse collapse">
                            @*<div class="panel-body">
                                @Html.ActionLink("上线点检", "OnlineCheck", "checks")
                            </div>

                            <div class="panel-body">
                                @Html.ActionLink("下线点检", "OfflineCheck", "checks")
                            </div>*@

                            <div class="panel-body">
                                @Html.ActionLink("库存点检", "InStockCheck", "checks")
                            </div>

                            <div class="panel-body">
                                @Html.ActionLink("点检查询", "Index", "checks")
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-wrench  " />
                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21443">工夹具报修</a>
                        </div>


                        <div id="panel-element-21443" class="panel-collapse collapse">
                            <div class="panel-body">
                                @Html.ActionLink("报修提交", "repairSubmit", "Repairs")
                            </div>

                            <div class="panel-body">
                                @Html.ActionLink("报修处理", "RepairHandling", "Repairs")
                            </div>

                            <div class="panel-body">
                                @Html.ActionLink("报修查询", "index", "Repairs")
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-trash  " />
                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21444">工夹具报废</a>
                        </div>


                        <div id="panel-element-21444" class="panel-collapse collapse">
                            <div class="panel-body">
                                @Html.ActionLink("报废提交", "Index", "Scraps")
                            </div>

                            <div class="panel-body">
                                @Html.ActionLink("报废初审", "FirstScrap", "Scraps")
                            </div>

                            <div class="panel-body">
                                @Html.ActionLink("报废终审", "SecondScrap", "Scraps")
                            </div>

                            <div class="panel-body">
                                @Html.ActionLink("报废查询", "FindScrap", "Scraps")
                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-trash  " />
                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21744">流程记录</a>
                        </div>


                        <div id="panel-element-21744" class="panel-collapse collapse">
                            <div class="panel-body">
                                @Html.ActionLink("流程记录", "", "")
                            </div>

                            <div class="panel-body">
                                @Html.ActionLink("流程", "", "")
                            </div>

                            <div class="panel-body">
                                @Html.ActionLink("流程", "", "")
                            </div>

                            <div class="panel-body">
                                @Html.ActionLink("流程", "", "")
                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-user " />
                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21445">系统管理</a>
                        </div>


                        <div id="panel-element-21445" class="panel-collapse collapse">
                            <div class="panel-body">
                                @Html.ActionLink("用户管理", "EmployeeIndex", "Employees")
                            </div>

                            <div class="panel-body">
                                @Html.ActionLink("部门管理", "Index", "Workcells")
                            </div>

                            <div class="panel-body">
                                <a href="#">权限管理</a>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21446">文件导入</a>
                        </div>


                        <div id="panel-element-21446" class="panel-collapse collapse">
                            <div class="panel-body">
                                @Html.ActionLink("文件导入", "Index", "File")
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-10 column">
                @RenderBody()
            </div>
        </div>

    </div>
</body>
</html>