<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>智能工夹具管理系统</title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="~/Scripts/ECharts/echarts.js"></script>
    <script src="~/Scripts/ECharts/echarts-all.js"></script>
    <script src="~/Scripts/sweet-alert.min.js"></script>
    <link href="~/Scripts/sweet-alert.css" rel="stylesheet" />

    <style>
        h3.title {
            height: auto;
            border-style: inset;
            border-radius: 10px;
            border-color: #508da3;
            color: white;
            background-color: #5b7fa7;
        }

        .cl {
            background-color: #a5def1;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .clearfix a {
            color: black;
        }

        .navbar .navbar-header {
            /*height: 60px;*/
            /*max-height: 20%;*/
            padding-top: 13px;
            height: 80px;
        }

        .navbar .navbar-nav {
            /*height: 60px;*/
            /*max-height: 20%;*/
            padding-top: 13px;
            height: 80px;
        }

        .navbar .navbar-right {
            /*height: 60px;*/
            /*max-height: 20%;*/
            padding-top: 13px;
            height: 80px;
        }

        .btn-out {
            padding-top:12px;
        }

        .note-welcome {
            padding-top: 10px;
            font-size:25px;
        }

        /*.bootstrap4 {
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        }*/


    </style>
</head>







<body>
    @*wq新写的部分================================================开始============================================================================*@
    @*<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height:10px;background-color:black;">
            <div class="col-lg col-lg-2  pull-right">
                <ul>
                    <li>
                        <button type="button" class="btn btn-primary btn-lg" style="color: white; background-color:black;">
                            <a href="/Home/Login" style="color:white;"><span class="glyphicon glyphicon-log-out"></span> 登出  </a>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-lg col-lg-1  pull-right">
                <ul>
                    <li>
                        <button type="button" class="btn btn-primary btn-lg" style="color: white; background-color:black;">
                            <span class="glyphicon glyphicon-cog"></span> 设置
                        </button>
                    </li>
                </ul>
            </div>

            <div class="col-lg col-lg-1  pull-right">
                <ul>
                    <li>

                        <button type="button" class="btn btn-primary btn-lg" style="color: white; background-color:black;">
                            <span class="glyphicon glyphicon-user"></span> Hi ,李观星
                        </button>
                    </li>
                </ul>
            </div>

        </nav>*@

    @*wq新写的部分================================================结束============================================================================*@

    @*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@        分割线        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*@

    @*lgx新写的部分================================================开始============================================================================*@

        @*<div class="container">
            <div class="row clearfix">*@
                <div class="col-md-12 column">
               
                    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#"> &nbsp &nbsp &nbsp 工夹具管理系统 &nbsp &nbsp &nbsp &nbsp </a>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                @*<li class="active">
                                    <a href="#">Link</a>
                                </li>
                                <li>
                                    <a href="#">Link</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">One more separated link</a>

                                        </li>
                                    </ul>
                                </li>*@
                            </ul>




                            





                            @*<form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" />
            </div> <button type="submit" class="btn btn-default">Submit</button>
        </form>*@
                        <ul class="nav navbar-nav navbar-right">

                            @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Action</a>
                                    </li>
                                    <li>
                                        <a href="#">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#">Something else here</a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </li>*@

                            <li class="note-welcome">
                                上午好，Tony Lee &nbsp;  &nbsp;
                            </li>

                            <li class="btn-out">
                                <button type="button" class="btn btn-danger">
                                    <a href="/Home/Login" style="color:white;"><span class="glyphicon glyphicon-log-out"></span> 登出  </a>
                                </button>
                            </li>

                            <li>
                                &nbsp;  &nbsp; &nbsp; &nbsp; 
                            </li>

                            @*<li class="bootstrap4">
            <button type="button" class="btn btn-outline-danger">Danger</button>
        </li>*@

                        </ul>
                        </div>

                    </nav>
                </div>
            @*</div>
        </div>*@







        @*lgx新写的部分================================================结束============================================================================*@




        <div class="container-fluid ">

            @*<div class="row clearfix">
                    <div class="col-md-12 column">
                        <h3 class="text-center title">
                            工夹具智能管理系统
                        </h3>
                    </div>
                </div>*@

            <div class="row clearfix">
                <div class="col-md-2 column">
                    <div class="panel-group" id="panel-756431">
                        <div class="panel panel-default panel-primary cl">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-home " />
                                @Html.ActionLink("首页", "Index", "Home", new { }, new { style = "color:#fff" })

                            </div>
                        </div>


                        <div class="panel panel-default panel-primary cl">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-log-in  " />
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-528672">采购入库</a>
                            </div>

                            <div id="panel-element-528672" class="panel-collapse collapse">

                                <div class="panel-body">
                                    @Html.ActionLink("采购入库登记", "Index", "Jigitems")
                                </div>

                                <div class="panel-body">
                                    @Html.ActionLink("采购入库初审", "FirstReview", "Jigitems")

                                </div>

                                <div class="panel-body">
                                    @Html.ActionLink("采购入库终审", "SecondReview", "Jigitems")
                                </div>

                                <div class="panel-body">
                                    @Html.ActionLink("采购入库查询", "FixtureItemFind", "Jigitems")
                                </div>

                            </div>
                        </div>

                        <div class="panel panel-default panel-primary cl">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-resize-horizontal  " />
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21442">进/出库</a>
                            </div>


                            <div id="panel-element-21442" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @Html.ActionLink("入库管理", "InIndex", "Inout")
                                </div>

                                <div class="panel-body">
                                    @Html.ActionLink("出库管理", "Index", "Inout")
                                </div>

                                <div class="panel-body">
                                    @Html.ActionLink("信息查询", "SearchInoutMessage", "Inout")
                                </div>

                            </div>
                        </div>

                        @*<<<<<<< HEAD*@



                        <div class="panel panel-default panel-primary cl">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-file" />
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21144">工夹具点检</a>
                            </div>


                            <div id="panel-element-21144" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @Html.ActionLink("库存点检", "InStockCheck", "checks")
                                </div>

                                <div class="panel-body">
                                    @Html.ActionLink("点检查询", "Index", "checks")
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default panel-primary cl">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-wrench  " />
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21443">工夹具报修</a>
                            </div>


                            <div id="panel-element-21443" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @Html.ActionLink("报修提交", "repairSubmit", "Repairs")
                                </div>

                                <div class="panel-body">
                                    @Html.ActionLink("报修处理", "RepairHandling", "Repairs")
                                </div>

                                <div class="panel-body">
                                    @Html.ActionLink("报修查询", "index", "Repairs")
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default panel-primary cl">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-trash  " />
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21444">工夹具报废</a>
                            </div>


                            <div id="panel-element-21444" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @Html.ActionLink("报废提交", "Index", "Scraps")
                                </div>

                                <div class="panel-body">
                                    @Html.ActionLink("报废初审", "FirstScrap", "Scraps")
                                </div>

                                <div class="panel-body">
                                    @Html.ActionLink("报废终审", "SecondScrap", "Scraps")
                                </div>

                                <div class="panel-body">
                                    @Html.ActionLink("报废查询", "FindScrap", "Scraps")
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default panel-primary cl">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-refresh" />
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21744">流程记录</a>
                            </div>


                            <div id="panel-element-21744" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @Html.ActionLink("流程记录", "Index", "Flow")
                                </div>

                                <div class="panel-body">
                                    @Html.ActionLink("流程", "", "")
                                </div>

                                <div class="panel-body">
                                    @Html.ActionLink("流程", "", "")
                                </div>

                                <div class="panel-body">
                                    @Html.ActionLink("流程", "", "")
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default panel-primary cl">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-user " />
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21445">系统管理</a>
                            </div>


                            <div id="panel-element-21445" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @Html.ActionLink("用户管理", "EmployeeIndex", "Employees")
                                </div>

                                <div class="panel-body">
                                    @Html.ActionLink("部门管理", "Index", "Workcells")
                                </div>
                                <div class="panel-body">
                                    @Html.ActionLink("工夹具定义管理", "Index", "Jigs")
                                </div>

                                <div class="panel-body">
                                    <a href="#">权限管理</a>
                                </div>
                            </div>
                        </div>


                        <div class="panel panel-default panel-primary cl">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-folder-open" />
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21446">文件导入</a>
                            </div>


                            <div id="panel-element-21446" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @Html.ActionLink("文件导入", "Index", "File")
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-10 column">
                    @RenderBody()
                </div>
            </div>

        </div>
</body>
</html>
