@model Fixture02.Models.Workcell

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}

<ul class="breadcrumb">
    <li>您好，欢迎来到工夹具智能管理系统----系统管理>>@Html.ActionLink("部门管理", "Index")>>部门创建</li>
</ul>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">部门创建</h3>
        </div>
        <div class="panel-body" style="text-align:center;">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-3" style="text-align:right; font-size:20px;">部门编号</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.WorkcellID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WorkcellID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-3" style="text-align:right; font-size:20px;">部门名称</label>
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.WorkcellName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WorkcellName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="btn-group">
                    <input type="submit" value="创建" class="btn btn-success" style = "color:white;" />
                    <button class="btn btn-default">@Html.ActionLink("返回", "Index",new { @class="btn"},new { style = "color:black;" })</button>
                </div>
            </div>
        </div>
    </div>
}

