@model Fixture02.Models.Workcell

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}

@*<ul class="breadcrumb">
        <li>您好，欢迎来到工夹具智能管理系统----系统管理>>@Html.ActionLink("部门管理", "Index")>>部门名称详情</li>
    </ul>*@
    <h4><span class="glyphicon  glyphicon-record " style=" position:relative ;height  :20px;top :3px;" /> 当前位置: @Html.ActionLink("首页", "Index", "Home", new { }, new { style = "color:blue;" })>><a class="panel-title collapsed" style=" color :blue ;font-size :18px;" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21445" id="cgrk">系统管理</a>>>@Html.ActionLink("部门管理", "Index", new { }, new { style = "color:blue;" })>>部门名称详情</h4>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">部门名称详情</h3>
    </div>
    <div class="panel-body" style="text-align:center;">
        <table class="table table-bordered table-striped">
            <tr>
                <td>部门名称</td>
                <td>  @Html.DisplayFor(model => model.WorkcellName)</td>
            </tr>
        </table>
        <ul class="pager">
            <li class="edit">@Html.ActionLink("修改", "Edit", new { id = Model.WorkcellID })</li>
            <li class="index">@Html.ActionLink("返回", "Index")</li>
        </ul>
    </div>
</div>
