@model IEnumerable<Fixture02.Models.Workcell>

@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}

<h2>部门管理</h2>
    <button class="btn btn-info" style="float:right"> @Html.ActionLink("创建新部门", "Create",new { @class="btn"},new { style = "color:white;" }) </button>
<br /><br />

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">部门列表</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>部门名称</th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkcellName)
                        </td>
                        <td>
                            <button class="btn btn-default btn-sm">@Html.ActionLink("编辑", "Edit", new { id = item.WorkcellID })</button> |
                            <button class="btn btn-default btn-sm">@Html.ActionLink("详情", "Details", new { id = item.WorkcellID })</button> |
                            <button class="btn btn-danger btn-sm">@Html.ActionLink("删除", "Delete", new { id = item.WorkcellID }, new { style = "color:white;" })</button>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@Html.PagedListPager((IPagedList)Model, x => Url.Action("Index", new { page = x }))
