@model IEnumerable<Fixture02.Models.Workcell>

@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}

<h4><span class="glyphicon  glyphicon-record " style=" position:relative ;height  :20px;top :3px;" /> 当前位置: @Html.ActionLink("首页", "Index", "Home", new { }, new { style = "color:blue;" })>><a class="panel-title collapsed" style=" color :blue ;font-size :18px;" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21445" id="cgrk">系统管理</a>>>部门管理</h4>

<button class="btn btn-warning" style="float:right"> @Html.ActionLink("创建新部门", "Create", new { @class = "btn" }, new { style = "color:white;" }) </button>
<br />
<br />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">部门列表</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>部门名称</th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkcellName)
                        </td>
                        <td>
                            <button class="btn btn-default btn-sm">@Html.ActionLink("编辑", "Edit", new { id = item.WorkcellID })</button> |
                            <button class="btn btn-default btn-sm">@Html.ActionLink("详情", "Details", new { id = item.WorkcellID })</button> |
                            <button class="btn btn-danger btn-sm">@Html.ActionLink("删除", "Delete", new { id = item.WorkcellID }, new { style = "color:white;" })</button>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@Html.PagedListPager((IPagedList)Model, x => Url.Action("Index", new { page = x }))
