@model Fixture02.Controllers.FlowerList

@{
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}
<h4><span class="glyphicon  glyphicon-record " style=" position:relative ;height  :20px;top :3px;" /> 当前位置: @Html.ActionLink("首页", "Index", "Home", new { }, new { style = "color:blue;" })>><a class="panel-title collapsed" style=" color :blue ;font-size :18px;" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21442" id="cgrk">流程</a>>>流程视图</h4>
<div class="container-fluid">

    @using (Html.BeginForm("Index", "Flow", FormMethod.Get))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">查询条件</h3>
            </div>
            <div class="panel-body">
                <div id="queryFrom" class="search-form form-horizontal">
                    <div class="form-group row">
                        <label class="col-md-2 control-label" style="text-align:right; font-size:large;">夹具代码</label>
                        <div class="col-md-2">
                            @Html.TextBox("code", "", new { @class = "input-sm form-control" })
                        </div>
                        <label class="col-md-2 control-label" style="text-align:right; font-size:large;">夹具名称</label>
                        <div class="col-md-2">
                            @Html.TextBox("name", "", new { @class = "input-sm form-control" })
                        </div>
                        <label class="col-md-2 control-label" style="text-align:right; font-size:large;">夹具库位</label>
                        <div class="col-md-2">
                            @Html.TextBox("location", "", new { @class = "input-sm form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 control-label" style="text-align:right; font-size:large;">夹具模组</label>
                        <div class="col-md-2">
                            @Html.TextBox("model", "", new { @class = "input-sm form-control" })
                        </div>
                        <label class="col-md-2 control-label" style="text-align:right; font-size:large;">夹具料号</label>
                        <div class="col-md-2">
                            @Html.TextBox("partNO", "", new { @class = "input-sm form-control" })
                        </div>
                        <div class="col-md-4" style="text-align:center;">
                            <button class="btn btn-info" type="submit">查询</button>
                            <button type="reset" class="btn default reset">重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div id="main" style="width: 1200px;height:800px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '工夹具流程图'
            },
            tooltip: {},
            toolbox: { //可视化的工具箱
                show: true,
                feature: {
                    dataView: { //数据视图
                        show: true
                    },
                    restore: { //重置
                        show: true
                    },
                    dataZoom: { //数据缩放视图
                        show: true
                    },
                    saveAsImage: {//保存图片
                        show: true
                    },
                    magicType: {//动态类型切换
                        show: true,
                        type: ['bar', 'line']
                    }
                }
            },
            legend: {
                data: ['状态']
            },
            xAxis: {
                type: 'category',
                data: @Html.Raw(Model.time)
                    //["2019-03-20", "2019-03-21", "2019-03-22", "2019-03-23", "2019-03-24", "2019-03-25"]
            },
            yAxis: {
                boundaryGap: false,

                axisLabel: {
                    formatter: function (value) {
                        var texts = [];
                        if (value == 0) {
                            texts.push('报废');
                        }
                        else if (value == 1) {
                            texts.push('库存');
                        }
                        else if (value == 2) {
                            texts.push('入库');
                        }
                        else if (value == 3) {
                            texts.push('出库');
                        }
                        else if (value == 4) {
                            texts.push('报修');
                        }
                        else {
                            texts.push('点检');
                        }

                        return texts;

                    }
                }
            },
            series: [{
                name: '状态',
                type: 'line',
                data: @Html.Raw(Model.state)

            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
