@model Fixture02.Models.repair

@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}

<h4><span class="glyphicon  glyphicon-record " style=" position:relative ;height  :20px;top :3px;" /> 当前位置: @Html.ActionLink("首页", "Index", "Home", new { }, new { style = "color:blue;" })>><a class="panel-title collapsed" style=" color :blue ;font-size :18px;" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21443" id="gjjbx">工夹具报修</a>>>@Html.ActionLink("报修提交", "Index", new { }, new { style = "color:blue;" })>>新增报修</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">新建工夹具报修</h3>
        </div>
        <div class="panel-body" style="text-align:center;">
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.RepairID)
                <table class="table">
                    <tr>
                        <td>
                            <div class="form-group col-sm-offset-2">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">夹具维修编号</label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.RepairID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RepairID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">夹具点检编号</label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.CheckID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CheckID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group col-sm-offset-2">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">夹具实体编号</label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.ItemID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ItemID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">夹具代码</label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">所属大类编码</label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.FamilyID, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                                    @Html.ValidationMessageFor(model => model.FamilyID, "", new { @class = "text-danger col-md-2" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">夹具名称</label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">夹具模组</label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                                    @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger col-md-2" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">所属大类名称</label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.FamilyName, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                                    @Html.ValidationMessageFor(model => model.FamilyName, "", new { @class = "text-danger col-md-2" })
                                </div>
                            </div>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">夹具料号</label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.PartNo, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                                    @Html.ValidationMessageFor(model => model.PartNo, "", new { @class = "text-danger col-md-2" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">创建人编码</label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.AddUserID, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                                    @Html.ValidationMessageFor(model => model.AddUserID, "", new { @class = "text-danger col-md-2" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">创建人姓名</label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.AddUserName, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                                    @Html.ValidationMessageFor(model => model.AddUserName, "", new { @class = "text-danger col-md-2" })
                                </div>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">故障描述</label>
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.Problem, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                                    @Html.ValidationMessageFor(model => model.Problem, "", new { @class = "text-danger col-md-2" })
                                </div>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">故障照片</label>
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.Pic, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                                    @Html.ValidationMessageFor(model => model.Pic, "", new { @class = "text-danger col-md-2" })
                                </div>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </table>
                <div class="row">

                    <div class="col-lg-6" style="text-align:right;">
                        <input type="submit" value="保存" class="btn btn-success" />
                    </div>
                    <div class="col-lg-6" style="text-align:left;">
                        @Html.ActionLink("返回", "Index", new { }, new { @class = "btn btn-default" })
                    </div>
                </div>
                <div class="form-group">
                    <div class=" btn-group">


                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "index", "home")
</div>
