@model IEnumerable<Fixture02.Models.repair>

@{
    ViewBag.Title = "repairSubmit";
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}

<h2>报修提交</h2>

<p>
    @Html.ActionLink("新增报修", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemID)
        </th>
        <th>
            夹具代码
        </th>
        <th>
            夹具名称
        </th>
      
        <th>
            所属大类名称
        </th>
        <th>
            夹具模组
        </th>

        <th>
            @*@Html.DisplayNameFor(model => model.Problem)*@问题描述
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Pic)*@故障照片
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.AddDate)*@创建日期
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.AddUserID)
            </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.AddUserName)*@创建人姓名
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.RepairDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepairUserName)
            </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.RepairState)*@维修状态
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        ViewBag.workcellId = Session["workcellId"];
        if (item.WorkcellID == ViewBag.workcellId)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CheckID)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ItemID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.FamilyID)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.FamilyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.PartNo)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Problem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddDate)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.AddUserID)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.AddUserName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.RepairDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RepairUserName)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.RepairState)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RepairID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RepairID }) |
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.RepairID })*@
                </td>
            </tr>
        }
    }

</table>
