@model Fixture02.Models.Scrap

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Scrap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RepairID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyID)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.FamilyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Problem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstReviewDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstReviewDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstReviewUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstReviewUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstReviewUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstReviewUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondReviewDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondReviewDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondReviewUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondReviewUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondReviewUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondReviewUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkcellID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkcellID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScrapState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScrapState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BackNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BackNote)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
