@model Fixture02.Models.Scrap

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}
<script>
    window.onload = function () {
        var link_gjjbf = document.getElementById("gjjbf");
        link_gjjbf.click();
    }
</script>

<h4><span class="glyphicon  glyphicon-record " style=" position:relative ;height  :20px;top :3px;" /> 当前位置: @Html.ActionLink("首页", "Index", "Home", new { }, new { style = "color:blue;" })>><a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21444" style=" color :blue ;font-size :18px;" id="gjjbf">工夹具报废</a>>>@Html.ActionLink("报废提交", "Index", new { }, new { style = "color:blue;" })>>删除</h4>
<br />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">确定要删除该报废工夹具信息吗？</h3>
    </div>
    <div class="panel-body" style="text-align:center;">
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.RepairID)
            <table class="table">
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">夹具维修编号</label>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.RepairID)
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group col-sm-offset-2">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">夹具实体编号</label>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.ItemID)
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>

                        <div class="form-group">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">夹具代码</label>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.Code)
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">夹具名称</label>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.Name)
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">所属大类编码</label>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.FamilyID)
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">所属大类名称</label>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.FamilyName)
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">夹具模组</label>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.Model)
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">夹具料号</label>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.PartNo)
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>

                    <td>
                        <div class="form-group">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">创建日期</label>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.AddDate)
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">创建人编码</label>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.AddUserID)
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">创建人姓名</label>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.AddUserName)
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">初审日期</label>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.FirstReviewDate)
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">初审人编码</label>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.FirstReviewUserID)
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">初审人姓名</label>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.FirstReviewUserName)
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">终审日期</label>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.SecondReviewDate)
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">终审人编码</label>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.SecondReviewUserID)
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">终审人姓名</label>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.SecondReviewUserName)
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">物品寿命技术</label>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.Count)
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">报废状态</label>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.ScrapState)
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">工作部门编码</label>
                            <div class="col-md-4">
                                @Html.DisplayFor(model => model.WorkcellID)
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">报废原因</label>
                            <div class="col-md-7">
                                @Html.DisplayFor(model => model.Problem)
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="col-md-5" style="text-align:right; font-size:18px;">退回原因</label>
                            <div class="col-md-7">
                                @Html.DisplayFor(model => model.BackNote)
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
            </table>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-lg-6" style="text-align:right;">
                        <input type="submit" value="删除" class="btn btn-danger" />
                    </div>
                    <div class="col-lg-6" style="text-align:left;">
                        @Html.ActionLink("返回", "Index", new { }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>



