@model Fixture02.Models.Scrap

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}
<script>
    window.onload = function () {
        var link_gjjbf = document.getElementById("gjjbf");
        link_gjjbf.click();
    }
</script>

<h4><span class="glyphicon  glyphicon-record " style=" position:relative ;height  :20px;top :3px;" /> 当前位置: @Html.ActionLink("首页", "Index", "Home", new { }, new { style = "color:blue;" })>><a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21444" style=" color :blue ;font-size :18px;" id="gjjbf">工夹具报废</a>>>@Html.ActionLink("报废提交", "Index", new { }, new { style = "color:blue;" })>>编辑</h4>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">工夹具报废信息编辑</h3>
        </div>
        <div class="panel-body" style="text-align:center;">
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.RepairID)
                <table class="table">
                    <tr>
                        <td>
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">夹具维修编号</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.RepairID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RepairID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group col-sm-offset-2">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">夹具实体编号</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.ItemID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ItemID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">夹具代码</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">夹具名称</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">所属大类编码</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.FamilyID, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                                    @Html.ValidationMessageFor(model => model.FamilyID, "", new { @class = "text-danger col-md-2" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">所属大类名称</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.FamilyName, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                                    @Html.ValidationMessageFor(model => model.FamilyName, "", new { @class = "text-danger col-md-2" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">夹具模组</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                                    @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger col-md-2" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">夹具料号</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.PartNo, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                                    @Html.ValidationMessageFor(model => model.PartNo, "", new { @class = "text-danger col-md-2" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">物品寿命技术</label>
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:right; font-size:18px;">故障描述</label>
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.Problem, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                                    @Html.ValidationMessageFor(model => model.Problem, "", new { @class = "text-danger col-md-2" })
                                </div>
                            </div>
                        </td>
                        <td></td>
                    </tr>

                </table>
                <div class="row">
                    <div class="col-lg-6" style="text-align:right;">
                        <input type="submit" value="保存" class="btn btn-success" />
                    </div>
                    <div class="col-lg-6" style="text-align:left;">
                        @Html.ActionLink("返回", "Index", new { }, new { @class = "btn btn-default" })
                    </div>
                </div>
                <div class="form-group">
                    <div class=" btn-group">


                    </div>
                </div>
            </div>
        </div>
    </div>


    @Html.HiddenFor(model => model.AddDate)
    @Html.HiddenFor(model => model.AddUserID)
    @Html.HiddenFor(model => model.AddUserName)
    @Html.HiddenFor(model => model.FirstReviewDate)
    @Html.HiddenFor(model => model.FirstReviewUserID)
    @Html.HiddenFor(model => model.FirstReviewUserName)
    @Html.HiddenFor(model => model.SecondReviewDate)
    @Html.HiddenFor(model => model.SecondReviewUserID)
    @Html.HiddenFor(model => model.SecondReviewUserName)
    @Html.HiddenFor(model => model.WorkcellID)
    @Html.HiddenFor(model => model.ScrapState)
    @Html.HiddenFor(model => model.BackNote)

    @*<div class="form-group">
            @Html.LabelFor(model => model.AddDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddUserID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddUserID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddUserID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddUserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddUserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddUserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstReviewDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstReviewDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstReviewDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstReviewUserID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstReviewUserID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstReviewUserID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstReviewUserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstReviewUserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstReviewUserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecondReviewDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SecondReviewDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SecondReviewDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecondReviewUserID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SecondReviewUserID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SecondReviewUserID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecondReviewUserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SecondReviewUserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SecondReviewUserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkcellID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkcellID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WorkcellID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScrapState, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScrapState, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ScrapState, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BackNote, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BackNote, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BackNote, "", new { @class = "text-danger" })
            </div>
        </div>*@



}


