@model IEnumerable<Fixture02.Models.Scrap>

@using PagedList;
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <script>
        window.onload = function () {
            var link_gjjbf = document.getElementById("gjjbf");
            link_gjjbf.click();
        }
    </script>
    <style>
        td {
            text-align: center;
        }

        th {
            text-align: center;
        }

        #footer {
            position: relative;
            left: 0;
            right: 0;
            bottom: 0;
            color: blue;
            text-align: center;
        }
    </style>
    <h4><span class="glyphicon  glyphicon-record " style=" position:relative ;height  :20px;top :3px;" /> 当前位置: @Html.ActionLink("首页", "Index", "Home", new { }, new { style = "color:blue;" })>><a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21444" style=" color :blue ;font-size :18px;" id="gjjbf">工夹具报废</a>>>报废查询</h4>
    <br />
    <div class="container-fluid">
        <div class="row-fluid">

            @using (Html.BeginForm("FindScrap", "Scraps", FormMethod.Get))
            {
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">查询条件</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="portlet-body form">
                                <form id="queryFrom" class="search-form form-horizontal">
                                    <div class="form-body row">
                                        <label class="col-md-2 control-label" style="text-align:right; font-size:large;">夹具代码:</label>
                                        <div class="clear">
                                            @Html.TextBox("code", "", new { @class = "input-sm col-md-1" })
                                        </div>
                                        <label class="col-md-2 control-label" style="text-align:right; font-size:large;">夹具状态:</label>
                                        <div class="clear">
                                            @Html.TextBox("state", "", new { @class = "input-sm col-md-1" })
                                        </div>
                                        <div class="form-actions col-md-6" style="text-align:right;">
                                            <div class="btn-set">
                                                <div class="col-md-4" style="text-align:right;">
                                                    <button type="submit" class="btn btn-primary search">查询</button>
                                                </div>
                                                <div class="col-md-4" style="text-align:left;">
                                                    <button type="reset" class="btn default reset">重置</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">夹具列表</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                夹具代码
                            </th>
                            <th>
                                夹具名称
                            </th>
                            <th>
                                夹具模组
                            </th>
                            <th>
                                夹具料号
                            </th>
                            <th>
                                夹具寿命（年）
                            </th>
                            <th>
                                夹具报废原因
                            </th>
                            <th>
                                报废流程状态
                            </th>
                            <th>
                                退回原因
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        ViewBag.workcellId = Session["workcellId"];
                        if (item.WorkcellID == ViewBag.workcellId)
                        {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Model)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PartNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Count)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Problem)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ScrapState)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BackNote)
                            </td>
                            <td>
                                @Html.ActionLink("详情", "Details", new { id = item.ItemID }, new { @class = "btn btn-primary" })
                            </td>
                        </tr>

                        }
                    }
                </table>
            </div>
        </div>
    </div>
    <div id="footer">
        @Html.PagedListPager((IPagedList)Model, x => Url.Action("FixtureItemFind", new { page = x }))
    </div>
</body>
</html>
