@model IEnumerable<Fixture02.Models.Scrap>

@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "FirstTrial";
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}
<script>
    window.onload = function () {
        var link_gjjbf = document.getElementById("gjjbf");
        link_gjjbf.click();
    }
</script>
<style>
    td {
        text-align: center;
    }

    th {
        text-align: center;
    }

    /* .btn {
        width: 45px;
        height: 25px;
        /* display: flex;
        justify-content: center;
        align-items: center;*/
    /*      line-height: 10px;
        padding-right: 40px;
    }
    */

    #footer {
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
        color: blue;
        text-align: center;
    }

    .gridContainer {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
</style>
<h4><span class="glyphicon  glyphicon-record " style=" position:relative ;height  :20px;top :3px;" /> 当前位置: @Html.ActionLink("首页", "Index", "Home", new { }, new { style = "color:blue;" })>><a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21444" style=" color :blue ;font-size :18px;" id="gjjbf">工夹具报废</a>>>报废提交初审</h4>
<br />


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">初审列表</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Code)*@
                            夹具代码
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Name)*@
                            夹具名称
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Model)*@
                            夹具模组
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.PartNo)*@
                            夹具料号
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Count)*@
                            夹具寿命（年）
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Problem)*@
                            夹具报废原因
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.ScrapState)*@
                            报废流程状态
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.BackNote)*@
                            退回原因
                        </th>
                        <th style="width:200px;text-align:center;">
                            操作
                        </th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    ViewBag.workcellId = Session["workcellId"];
                    if (item.WorkcellID == ViewBag.workcellId)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PartNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Problem)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ScrapState)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BackNote)
                        </td>

                        <td style="text-align:center;">
                            <div class="gridContainer">

                                @using (Html.BeginForm("FirstScrap", "Scraps", new { id = item.ScrapID, state = "同意" }, FormMethod.Post))
                                {
                                    <input type="submit" value="同意" class="btn btn-default" />
                                }



                                <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="Values(@item.ScrapID)" value="不同意" />
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="btn-info modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4>问题反馈</h4>
                                            </div>
                                            @using (Html.BeginForm("FirstScrap", "Scraps", new { state = "不同意" }, FormMethod.Post))
                                            {
                                                <div class="modal-body">
                                                    <input type="hidden" id="id" name="id" value="" />
                                                    <div class="form-group">
                                                        <div class="col-sm-9">
                                                            <input type="text" id="backNote" name="backNote" class="form-control well" placeholder="请输入审批退回意见" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal-footer">
                                                    <input type="submit" value="提交" class="btn btn-warning" />
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                                                </div>
                                            }



                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>
<script>
    $('#myModal').modal("hide");
    function Values(ID) {
        $("#id").val(ID);
    }
</script>

