@model Fixture02.Models.Jigitem
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}
<h4><span class="glyphicon  glyphicon-record " style=" position:relative ;height  :20px;top :3px;" /> 当前位置: @Html.ActionLink("首页", "Index", "Home", new { }, new { style = "color:blue;" })>><a class="panel-title collapsed" style=" color :blue ;font-size :18px;" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-528672">采购入库</a>>>@Html.ActionLink("采购入库登记", "Index")>>删除</h4>
<br />
<h4>您确定要删除该工夹具吗？</h4>
<div style=" text-align :right ;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("返回", "Index", new { }, new { @class = "btn btn-default" })|
        <input type="submit" value="删除" class="btn btn-danger " />

    </div>
    }
</div>
<div style=" text-align :center ;">
    <div class="table-responsive">
        <table class="table">
            <caption>工夹具信息</caption>
            <tr>
                <td>夹具代码 </td>
                <td>@Html.DisplayFor(model => model.Code)</td>
            </tr>
            <tr>
                <td>夹具序列号 </td>
                <td>@Html.DisplayFor(model => model.SeqID) </td>
            </tr>
            <tr>
                <td>采购单据号 </td>
                <td> @Html.DisplayFor(model => model.BillNo) </td>
            </tr>
            <tr>
                <td>入库日期 </td>
                <td>@Html.DisplayFor(model => model.RegDate) </td>
            </tr>
            <tr>
                <td>已使用次数 </td>
                <td>@Html.DisplayFor(model => model.UsedCount) </td>
            </tr>
            <tr>
                <td>存放库位 </td>
                <td> @Html.DisplayFor(model => model.Location)</td>
            </tr>
            <tr>
                <td> 状态</td>
                <td> @Html.DisplayFor(model => model.State)</td>
            </tr>
            <tr>
                <td>夹具照片 </td>
                <td> @Html.DisplayFor(model => model.Pic)</td>
            </tr>
            <tr>
                <td>创建日期 </td>
                <td> @Html.DisplayFor(model => model.AddDate)</td>
            </tr>
            <tr>
                <td> 创建人编码</td>
                <td> @Html.DisplayFor(model => model.AddUserID)</td>
            </tr>
            <tr>
                <td> 创建人姓名</td>
                <td> @Html.DisplayFor(model => model.AddUserName)</td>
            </tr>
            <tr>
                <td> 初审日期</td>
                <td>@Html.DisplayFor(model => model.FirstReviewDate) </td>
            </tr>
            <tr>
                <td>初审人编码 </td>
                <td>@Html.DisplayFor(model => model.FirstReviewUserID) </td>
            </tr>
            <tr>
                <td> 初审人姓名</td>
                <td>@Html.DisplayFor(model => model.FirstReviewUserName) </td>
            </tr>
            <tr>
                <td>终审日期 </td>
                <td> @Html.DisplayFor(model => model.SecondReviewDate) </td>
            </tr>
            <tr>
                <td> 终审人编码</td>
                <td> @Html.DisplayFor(model => model.SecondReviewUserID) </td>
            </tr>
            <tr>
                <td>终审人姓名 </td>
                <td>  @Html.DisplayFor(model => model.SecondReviewUserName)</td>
            </tr>
            <tr>
                <td>缓存区时间 </td>
                <td>@Html.DisplayFor(model => model.WaitTime)</td>
            </tr>
        </table>
    </div>
</div>
