@model IEnumerable<Fixture02.Models.Jigitem>
@using PagedList;
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}

<script>
    window.onload = function () {
        var link_cgrk = document.getElementById("cgrk");
        link_cgrk.click();
    }
</script>

<style>
    td {
        text-align: center;
    }

    th {
        text-align: center;
    }

    #footer {
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
        color: blue;
        text-align: center;
    }

    span {
        font-size: 16px;
        font-family: "microsoft yahei";
    }
</style>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h4><span class="glyphicon  glyphicon-record " style=" position:relative ;height  :20px;top :3px;" /> 当前位置: @Html.ActionLink("首页", "Index", "Home", new { }, new { style = "color:blue;" })>><a class="panel-title collapsed" style=" color :blue ;font-size :16px;" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-528672" id="cgrk">采购入库</a>>>采购入库查询</h4>
    <br />
    <div class="container-fluid" style=" text-align :center ;">

        <div class="row-fluid">
            <p>
                <b>
                    @using (Html.BeginForm("FixtureItemFind", "Jigitems", FormMethod.Get))
                    {
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">查询条件</h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="portlet-body form">
                                        <form id="queryFrom" class="search-form form-horizontal">
                                            <div class="form-body row">
                                                <label class="col-md-2 control-label" style="text-align:right; font-size:large;">夹具代码:</label>
                                                <div class="clear">
                                                    @Html.TextBox("code", ViewBag.employeeName as string, new { @class = "input-sm col-md-1" })
                                                </div>
                                                <label class="col-md-2 control-label" style="text-align:right; font-size:large;">所在位置:</label>
                                                <div class="clear">

                                                    @Html.TextBox("location", ViewBag.userLevel as string, new { @class = "input-sm col-md-1" })
                                                </div>
                                                <label class="col-md-2 control-label" style="text-align:right; font-size:large;">夹具状态:</label>
                                                <div class="clear">
                                                    @Html.TextBox("state", ViewBag.workcellID as string, new { @class = "input-sm col-md-1" })
                                                </div>
                                                <div class="form-actions col-md-3" style="text-align:right;">
                                                    <div class="btn-set">
                                                        <button type="submit" class="btn btn-primary search">查询</button>
                                                        <button type="reset" class="btn default reset">重置</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        /*     <span style="padding-right:30px;">夹具代码: @Html.TextBox("code")    </span>
                             <span style="padding-right:30px;"> 所在位置: @Html.TextBox("location")   </span>
                             <span style="padding-right:30px;"> 夹具状态: @Html.TextBox("state")</span>
                             <input type="submit" value="查询" class=" btn-primary" style=" position :relative ;top :-3px;" />*/
                    }
                </b>
            </p>
        </div>
    </div>
    <br />

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">夹具列表</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                夹具实体编号
                            </th>
                            <th>
                                夹具代码
                            </th>
                            <th>
                                采购单据号
                            </th>
                            <th>
                                入库日期
                            </th>
                            <th>
                                已使用次数
                            </th>
                            <th>
                                存放库位
                            </th>
                            <th>
                                状态
                            </th>
                            <th>
                                创建日期
                            </th>
                            <th>
                                查看
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        ViewBag.workcellId = Session["workcellId"];
                        if (item.WorkcellID == ViewBag.workcellId)
                        {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemID)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Code)-@Html.DisplayFor(modelItem => item.SeqID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BillNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RegDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UsedCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.State)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AddDate)
                            </td>
                            <td>
                                @Html.ActionLink("详情", "Details", new { id = item.ItemID }, new { @class = "btn btn-primary" })
                            </td>
                        </tr>
                        }
                    }

                </table>
            </div>
        </div>
    </div>
    <div id="footer"> @Html.PagedListPager((IPagedList)Model, x => Url.Action("FixtureItemFind", new { page = x }))</div>
</body>
@*>>>>>>> gy*@
</html>
