@model IEnumerable<Fixture02.Models.Jigitem>


@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    window.onload = function () {
        var link_cgrk = document.getElementById("cgrk");
        link_cgrk.click();
    }
</script>

<style>
    td {
        text-align: center;
    }

    th {
        text-align: center;
    }

    a {
        color: white;
    }

    .btn {
        width: 45px;
        height: 25px;
        /* display: flex;
        justify-content: center;
        align-items: center;*/
        line-height: 10px;
        padding-right: 40px;
    }

    #footer {
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
        color: blue;
        text-align: center;
    }
</style>

<h4><span class="glyphicon  glyphicon-record " style=" position:relative ;height  :20px;top :3px;" /> 当前位置: @Html.ActionLink("首页", "Index", "Home", new { }, new { style = "color:blue;" })>><a class="panel-title collapsed" style=" color :blue ;font-size :18px;" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-528672" id="cgrk">采购入库</a>>>采购入库登记</h4>

<p style=" position :relative ;left :1040px;">
    <button class="btn-primary">@Html.ActionLink("新增申请", "Create", new { }, new { style = "color:white;font-size:14px;" })</button>

</p>
@*<table class="table" border="0" cellspacing="0" cellpadding="0" style=" width :auto ;text-align :center ;">*@
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">工夹具入库登记列表</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            夹具代码
                        </th>
                        <th>
                            夹具名称
                        </th>
                        <th>
                            夹具序列号
                        </th>
                        <th>
                            夹具单据号
                        </th>
                        <th>
                            入库日期
                        </th>
                        <th>
                            存放库位
                        </th>
                        <th>
                            状态
                        </th>
                        <th>
                            创建日期
                        </th>
                        <th>
                            退回原因
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    ViewBag.workcellId = Session["workcellId"];
                    if (item.WorkcellID == ViewBag.workcellId)
                    {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Jig.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.SeqID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BillNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddDate)
                        </td>
                        <td style=" width:100px;text-align :center ;">
                            @Html.DisplayFor(modelItem => item.BackNote)
                        </td>

                        <td style=" text-align :center  ;">

                            @Html.ActionLink("编辑", "Edit", new { id = item.ItemID }, new { @class = "btn btn-default" })|
                            @Html.ActionLink("明细", "Details", new { id = item.ItemID }, new { @class = "btn btn-default" })|
                            @Html.ActionLink("删除", "Delete", new { id = item.ItemID }, new { @class = "btn btn-danger" })

                        </td>
                    </tr>
                    }
                }

            </table>
        </div>
    </div>
</div>

<div id="footer">
    @Html.PagedListPager((IPagedList)Model, x => Url.Action("Index", new { page = x }))
</div>



