@model IEnumerable<Fixture02.Models.Jigitem>

@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}
@*<script>
        function skip() {
            window.location.href =@Url.Action("Edit", new { id = item.ItemID });
        }
    </script>*@

<script>
    window.onload = function () {
        var link_cgrk = document.getElementById("cgrk");
        link_cgrk.click();
    }
</script>

<style>
    table {
        border: 1px;
        border-style: solid;
    }

    td {
        border: 1px;
        border-style: solid;
        height: 20px;
        text-align: center;
        vertical-align: central;
        left: 50%;
        top: 50%;
    }

    th {
        border: 1px;
        border-style: solid;
        text-align: center;
        background-color: #508da3;
        color: white;
    }

    a {
        color: white;
    }

    .btn {
        width: 45px;
        height: 25px;
        /* display: flex;
        justify-content: center;
        align-items: center;*/
        line-height: 10px;
        padding-right: 40px;
    }

    #footer {
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
        color: blue;
        text-align: center;
    }
</style>

<h4><span class="glyphicon  glyphicon-record " style=" position:relative ;height  :20px;top :3px;" /> 当前位置: @Html.ActionLink("首页", "Index", "Home", new { }, new { style = "color:blue;" })>><a class="panel-title collapsed" style=" color :blue ;font-size :18px;" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-528672"  id="cgrk">采购入库</a>>>采购入库登记</h4>
<!-- 搜索区域  -->
@*<div class="row" style="padding-bottom: 20px;margin-top:20px;">
        <!-- 搜索框的长度为该行的3/4  -->
        <div class="col-md-5 " style=" left :550px;">
            <div class="input-group">
                <input id="searchString" type="text" style="height:28px;" class="form-control" placeholder="请输入想要搜索的内容">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info" onclick="search()" onkeypress="Enter()" style=" left :10px;top :-2px;width :80px;height :30px;text-align :center ;padding-bottom :25px;">
                        <span class="glyphicon glyphicon-search" aria-hidden="true" />
                        搜索
                    </button>
                </span>
            </div>
        </div>
    </div>*@

<p style=" position :relative ;left :1040px;">
    <button style="background-color: orange ;">@Html.ActionLink("新增申请", "Create", new { }, new { style = "color:white;font-size:14px;" })</button>
</p>
<table class="table" border="0" cellspacing="0" cellpadding="0" style=" width :auto ;text-align :center ;">
    <tr>
        <th style=" width:45px;text-align :center ;">
            @*@Html.DisplayNameFor(model => model.Code)*@
            夹具代码
        </th>
        @*工夹具Code对应的Name*@
        <th style=" width:40px;">
            @* @Html.DisplayNameFor(model => model.Jig.Name)*@
            夹具名称
        </th>

        <th style=" width:55px;text-align :center ;">
            @* @Html.DisplayNameFor(model => model.SeqID)*@
            夹具序列号
        </th>
        <th style=" width:180px;text-align :center ;">
            @*@Html.DisplayNameFor(model => model.BillNo)*@
            采购单据号
        </th>
        <th style=" width:100px;text-align :center ;">
            @* @Html.DisplayNameFor(model => model.RegDate)*@
            入库日期
        </th>
        <th style=" width:80px;text-align :center ;">
            @*  @Html.DisplayNameFor(model => model.Location)*@
            存放库位
        </th>
        <th style=" width:60px;text-align :center ;">
            @*@Html.DisplayNameFor(model => model.State)*@
            状态
        </th>
        <th style=" width:100px;text-align :center ;">
            @* @Html.DisplayNameFor(model => model.AddDate)*@
            创建日期
        </th>
        <th style=" width:100px;text-align :center ;">
            @* @Html.DisplayNameFor(model => model.BackNote)*@
            退回原因
        </th>
        <th style=" width:180px;text-align :center  ;">
            操作
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>

            @*工夹具Code对应的Name*@
            <td>
                @Html.DisplayFor(modelItem => item.Jig.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SeqID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddDate)
            </td>
            <td style=" width:100px;text-align :center ;">
                @Html.DisplayFor(modelItem => item.BackNote)
            </td>

            <td style=" text-align :center  ;">
                @*<input type="button" value="注册" οnclick="window.location.href= @Html.ActionLink("编辑", "Edit", new { id = item.ItemID }) ">|*@
                @*<button class="layui-btn layui-btn-radius layui-btn-primary" onclick="skip()">添加</button>*@
                @Html.ActionLink("编辑", "Edit", new { id = item.ItemID }, new { @class = "btn btn-success" })|
                @Html.ActionLink("明细", "Details", new { id = item.ItemID }, new { @class = "btn btn-info" })|
                @Html.ActionLink("删除", "Delete", new { id = item.ItemID }, new { @class = "btn btn-danger" })
                @*<button style="width:45px;height:25px;background-color: #008CBA;"><span class="glyphicon glyphicon-user " />@Html.ActionLink("明细", "Details", new { id = item.ItemID })</button> |
                    <button style="width:45px;height:25px;background-color: #f44336;">@Html.ActionLink("删除", "Delete", new { id = item.ItemID })</button>*@
            </td>
        </tr>
    }
</table>

<div id="footer">
    @Html.PagedListPager((IPagedList)Model, x => Url.Action("Index", new { page = x }))
</div>



