@model IEnumerable<Fixture02.Models.Jig>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}

<h2>工夹具定义管理</h2>
<button class="btn btn-warning" style="float:right"> @Html.ActionLink("创建新夹具", "Create", new { @class = "btn" }, new { style = "color:white;" }) </button>
<br /><br />


<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">工夹具列表</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered" style="text-align:center;">
                <tr>
                    <th>夹具名称</th>
                    <th>所属大类名称</th>
                    <th>夹具模组</th>
                    <th>夹具料号</th>
                    <th>工作部门名称</th>
                    <th>数量</th>
                    <th>责任人姓名</th>
                    <th style="text-align:center;">创建日期</th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FamilyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PartNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkcellName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UPL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OwnerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddDate)
                        </td>
                      
                        <td>
                            <button class="btn btn-default btn-sm">@Html.ActionLink("编辑", "Edit", new { id = item.Code })</button> |
                            <button class="btn btn-default btn-sm">@Html.ActionLink("详情", "Details", new { id = item.Code })</button> |
                            <button class="btn btn-danger btn-sm">@Html.ActionLink("删除", "Delete", new { id = item.Code }, new { style = "color:white;" })</button>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>