@model Fixture02.Controllers.OutJigList

@{
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>InIndex</title>

    <script>
        window.onload = function () {
            var link_cgrk = document.getElementById("cgrk");
            link_cgrk.click();
        }
    </script>

</head>
<body>
    <h4><span class="glyphicon  glyphicon-record " style=" position:relative ;height  :20px;top :3px;" /> 当前位置: @Html.ActionLink("首页", "Index", "Home", new { }, new { style = "color:blue;" })>><a class="panel-title collapsed" style=" color :blue ;font-size :18px;" data-toggle="collapse" data-parent="#panel-756431" href="#panel-element-21442" id="cgrk">进出库</a>>>入库管理</h4>
    <div class="container-fluid">
        @using (Html.BeginForm("Index", "Inout", FormMethod.Get))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">查询条件</h3>
                </div>
                <div class="panel-body">
                    <form id="queryFrom" class="search-form form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-2 control-label" style="text-align:right; font-size:large;">夹具代码</label>
                            <div class="col-md-2">
                                @Html.TextBox("code", "", new { @class = "input-sm form-control" })
                            </div>
                            <label class="col-md-2 control-label" style="text-align:right; font-size:large;">夹具名称</label>
                            <div class="col-md-2">
                                @Html.TextBox("name", "", new { @class = "input-sm form-control" })
                            </div>
                            <label class="col-md-2 control-label" style="text-align:right; font-size:large;">夹具库位</label>
                            <div class="col-md-2">
                                @Html.TextBox("location", "", new { @class = "input-sm form-control" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label" style="text-align:right; font-size:large;">夹具模组</label>
                            <div class="col-md-2">
                                @Html.TextBox("model", "", new { @class = "input-sm form-control" })
                            </div>
                            <label class="col-md-2 control-label" style="text-align:right; font-size:large;">夹具料号</label>
                            <div class="col-md-2">
                                @Html.TextBox("partNO", "", new { @class = "input-sm form-control" })
                            </div>
                            <div class="col-md-4" style="text-align:center;">
                                <button class="btn btn-info" type="submit">查询</button>
                                <button type="reset" class="btn default reset">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        }
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">工夹具列表</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>夹具代码</th>
                                <th>夹具名称</th>
                                <th>夹具库位</th>
                                <th>夹具模组</th>
                                <th>夹具料号</th>
                                <th>夹具状态</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.OutModelList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Location)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Model)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PartNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.State)
                                </td>
                                <td>
                                    <button class="btn btn-default btn-sm"> @Html.ActionLink("编辑", "Edit", "Jigitems", new { id = item.ItemID }, "")</button> |
                                    <button class="btn btn-default btn-sm"> @Html.ActionLink("详情", "Details", "Jigitems", new { id = item.ItemID }, "")</button> |
                                    <button class="btn btn-danger btn-sm">  @Html.ActionLink("入库", "InStorage", item, new { style = "color:white;" })</button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <br />
    </div>
</body>
</html>
